.box{
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    margin: 30px;
}

.mat-radio-button {
    margin: 5px;
  }

.radioDiv {
  width: 325px;
}

.formRender {
  padding: 15px; 
  display: inline-block;
}

.check{
  display:inline;
}
