// .mat-form-field{
//     width: 325px;
// }
  
  .mat-radio-button {
    margin: 5px;
  }

.radioDiv {
  width: 325px;
}

.formRender {
  padding: 15px; 
  display: inline-block;

}

.check{
  display:inline;
}
