.box{
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 30px;
    justify-content: center;
}

.controlBody{
    background-color: rgb(244, 244, 244);
    border-radius: 15px; 
    padding: 30px;
    min-height: 100px;
    margin-top: 40px;
}
.modal-dialog {
 
    width: 600px;
    height: auto;

  }