<div class="row g-3 box" style="margin:20px;">
  <form [formGroup]="form" style="width: 90%;" (ngSubmit)="onSubmit()">
    <div class="form-floating" style="width:30%; display: inline-block;">
      <select class="form-select" formControlName="formname" required>
        <option value="0" selected>-- Select Form --</option>
        <option value="Doctor Form">Doctor Form</option>
        <option value="Patient Form">Patient Form</option>
        <option value="Nurse Form">Nurse Form</option>
      </select>
    </div>
    <div style="display: inline-block; width:70%;">
      <button class="btn btn-outline-primary" style="float: right; " (click)="addForm()"> <span
          style="vertical-align: middle;"> <i class="material-icons">add_circle</i></span> Add Form Field</button>
    </div>
    <hr>
    <div formArrayName="controlls" class="controlBody" *ngFor="let o of controlls().controls; let formIndex = index">
      <div class="row" [formGroupName]="formIndex">

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating">
            <select class="form-select" formControlName="valueType" required>
              <option value="Text Box">Text Box</option>
              <option value="Radio Button">Radio Button</option>
              <option value="Dropdown">Dropdown</option>
              <option value="Datepicker">Datepicker</option>
              <option value="Autocomplete">Autocomplete</option>
              <option value="Checkbox">Checkbox</option>
            </select>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="type" id="floatingInput" placeholder="Control type"
              required>
            <label for="floatingInput">Control Type</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="title" placeholder="Title" id="floatingInput"
              required>
            <label for="floatingInput">Title</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="minLength" placeholder="Min Length"
              id="floatingInput">
            <label for="floatingInput">Min Length</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="maxLength" placeholder="Max Length"
              id="floatingInput">
            <label for="floatingInput">Max Length</label>
          </div>
        </div>
        <div class="col-md-1 mt-1" style="display: inline-block;">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
              formControlName="row">
            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
          </div>
          <label>Row Type?</label>
        </div>
        <div class="col-md-1 mt-1" style="display: inline-block;">
          &nbsp; &nbsp; &nbsp; &nbsp; <i class="material-icons" (click)="openModal(formIndex)">add_box</i>Advancement
        </div>

        <div class="col-md-1 mt-1" style="display: inline-block;">
          <i class="material-icons" style="float: right;" (click)="removeForm(formIndex)">delete</i>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h3>Add Options</h3>
                <i class="material-icons" (click)="addFormWidgetData(formIndex)">add_circle</i>
              </div>

              <div class="modal-body" formArrayName="widgetData">
                <div *ngFor="let advance of formWidgetData(formIndex).controls; let widgetDataIndex=index">
                  <div class="row" [formGroupName]="widgetDataIndex">

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionTitle" placeholder="Option Title"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Title</label>
                      </div>
                    </div>

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionName" placeholder="Option Name"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Name</label>
                      </div>
                    </div>

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionValue" placeholder="Option Value"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Value</label>
                      </div>
                    </div>

                    <div class="col-md-3 mt-3" style="display: inline-block;">
                      <i class="material-icons" (click)="removeFormWidgetData(formIndex,widgetDataIndex)">delete</i>
                    </div>

                  </div>
                  <br />
                </div>
              </div>

              <div class="modal-footer ">
                <button (click)="closeModal(formIndex)" type="button" class="btn btn-primary"
                  data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success" style="float: right; margin-right: 20px;"
      (click)="onSave()">Save</button>
    <button class="btn btn-primary" style="float: right; margin-right: 20px;" (click)="onPreview()">Preview</button>
  </form>
</div>