.box{
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    margin: 30px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: auto;
  }