<div class="row g-3 box" style="margin:20px;">
  <form [formGroup]="form" style="width: 90%;" (ngSubmit)="onSubmit()">
    <div class="form-floating" style="width:30%; display: inline-block;">
      <select class="form-select" formControlName="formname" required>
        <option value="0" selected>-- Select Form --</option>
        <option value="Doctor Form">Doctor Form</option>
        <option value="Patient Form">Patient Form</option>
        <option value="Nurse Form">Nurse Form</option>
      </select>
    </div>
    <div style="display: inline-block; width:70%;">
      <button class="btn btn-outline-primary" style="float: right; " (click)="addForm()"> <span
          style="vertical-align: middle;"> <i class="material-icons">add_circle</i></span> Add Form Field</button>
    </div>
    <hr>
    <div formArrayName="controlls" class="controlBody" *ngFor="let o of controlls().controls; let formIndex = index">
      <div class="row" [formGroupName]="formIndex">

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating">
            <select class="form-select" formControlName="valueType" required>
              <option value="Text Box">Text Box</option>
              <option value="Radio Button">Radio Button</option>
              <option value="Dropdown">Dropdown</option>
              <option value="Datepicker">Datepicker</option>
              <option value="Autocomplete">Autocomplete</option>
              <option value="Checkbox">Checkbox</option>
            </select>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="typename" id="floatingInput"
              placeholder="Control type" required>
            <label for="floatingInput">Control Type</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="labelname" placeholder="Label Name"
              id="floatingInput" required>
            <label for="floatingInput">Label Name</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="minlength" placeholder="Min Length"
              id="floatingInput" required>
            <label for="floatingInput">Min Length</label>
          </div>
        </div>

        <div class="col-md-2" style="display: inline-block;">
          <div class="form-floating ">
            <input type="text" class="form-control" formControlName="maxlength" placeholder="Max Length"
              id="floatingInput" required>
            <label for="floatingInput">Max Length</label>
          </div>
        </div>
        <!-- <div class="col-md-1 mt-3" style="display: inline-block;">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
              formControlName="check">
            <label class="form-check-label" for="flexSwitchCheckChecked">Required?</label>
          </div>
        </div> -->
        <div class="col-md-1 mt-3" style="display: inline-block;">
          &nbsp; &nbsp; &nbsp; &nbsp; <i class="material-icons" (click)="openModal(formIndex)">add_box</i>Advancement
        </div>

        <div class="col-md-1 mt-3" style="display: inline-block;">
          <i class="material-icons" style="float: right;" (click)="removeForm(formIndex)">delete</i>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
          <div class="modal-dialog" role="document" style="max-width: 600px;">
            <div class="modal-content">

              <div class="modal-header">
                <h3>Add Options</h3>
                <i class="material-icons" (click)="addFormAdvancement(formIndex)">add_circle</i>
              </div>

              <div class="modal-body" formArrayName="advancement">
                <div *ngFor="let advance of formAdvancement(formIndex).controls; let advancementIndex=index">
                  <div class="row" [formGroupName]="advancementIndex">

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionTitle" placeholder="Option Title"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Title</label>
                      </div>
                    </div>

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionName" placeholder="Option Name"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Name</label>
                      </div>
                    </div>

                    <div class="col-md-3" style="display: inline-block;">
                      <div class="form-floating ">
                        <input type="text" class="form-control" formControlName="optionValue" placeholder="Option Value"
                          id="floatingInput" required>
                        <label for="floatingInput">Option Value</label>
                      </div>
                    </div>

                    <div class="col-md-3 mt-3" style="display: inline-block;">
                      <i class="material-icons" (click)="removeFormAdvancement(formIndex,advancementIndex)">delete</i>
                    </div>

                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button (click)="closeModal(formIndex)" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <button class="btn btn-primary" style="float: right; margin-right: 20px;" (click)="onPreview(form)">Preview</button>
    <button type="submit" class="btn btn-success" style="float: right; margin-right: 20px;">Save</button>
  </form>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':show}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Form Preview</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let formData of result.controlls" [ngSwitch]="true"
          [ngStyle]="{'display':(formData.typename === 'text')? 'inline-block' : 'inline'}" style="padding-left: 15px;">

          &nbsp;<div class="form-floating " *ngSwitchCase="formData.typename === 'text'">
            <input type="text" class="form-control" placeholder="{{formData.typename}}" id="floatingInput" required>
            <label for="floatingInput">{{formData.labelname}}</label>
          </div> <br />

          <div *ngSwitchCase="formData.typename === 'select'">
            <!-- <select [id]="formData.valueType" class="form-control">
              <option [value]='0'>Choose One</option>
              <option [value]='1'>One</option>
              <option [value]='2'>Two</option>
            </select> -->
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{formData.labelname}}</mat-label>
              <input type="text" placeholder="Pick one" aria-label="Admin" matInput [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of formData.advancement" [value]="option.optionName">
                  {{option.optionName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="formData.typename === 'radio'">
            <label>{{formData.labelname}} : </label><br/>
            <div class="form-check" *ngFor="let option of formData.advancement">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                {{option.optionName}}
              </label>
            </div>
          </div>
          <div *ngSwitchCase="formData.typename === 'date'">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>{{formData.labelname}}</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div *ngSwitchCase="formData.typename === 'check'">
            <section class="example-section">
              <mat-checkbox class="example-margin" >Checked</mat-checkbox> &nbsp;
              <mat-checkbox class="example-margin" >Indeterminate</mat-checkbox>
            </section>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="close()" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>